:root {
	--ming: #16697aff;
	--pacific-blue: #489fb5ff;
	--middle-blue: #82c0ccff;
	--isabelline: #ede7e3ff;
	--orange-peel: #ffa62bff;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

h1 {
	margin: 0 auto;
	color: var(--isabelline);
}

header {
	background-color: var(--ming);
}

nav ul {
	list-style: none;
	padding: 0;
  margin: 0 auto;
	display: flex;
}

nav li {
	padding: 1.3em;
}

nav a {
	text-decoration: none;
	color: var(--isabelline);
}

nav a:hover {
	color: #c8c8c8;
}

nav ul li:hover, nav ul li:focus {
	background-color: var(--pacific-blue);
}

.container {
	width: 90%;
	margin: 0 auto;
}

.container-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 35px;
  float: left;
  padding: 0.8em 0;
}

footer {
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--ming);
  text-align: center;
}

footer a {
	text-decoration: none;
	color: var(--isabelline);
}

footer a:hover {
	color: #c8c8c8;
}

.footer_seznam {
	list-style: none;
  display: inline-flex;
	margin: 0 auto;
	padding: 0;

}

.footer_seznam li {
	padding: 1em;
}


.footer_disclaimer {
	color: red;
}

@media (max-width: 640px) {
	.container {
		text-align: center;
		width: 100%;
		margin: 0 auto;
	}

	.container-nav {
		flex-direction: column;
	}

	nav {
		width: 100%;
  	box-sizing: border-box;
	}

	nav ul {
		flex-direction: column;
		display: block;
	}

	nav li {
		padding: 0.8em 0;
		margin: 0 auto;
	}

	.footer_seznam {
		flex-direction: column;
		display: block;
	}

}